@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Tools Management System</h2>
        <p> 
            TMS is an application that could manage your tools in your company.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>It's simple!</h2>
        <p> 
            Just add your tools and building sites and start to manage your company equipment.
        </p>
    </div>
</div>